<!DOCTYPE html>
<meta charset="utf-8"/>
<html>

    <link type="text/css" rel="stylesheet" href="/css/style.css" />

     <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAgzq_UbTAt8NeWLYSCMNtTlOBtotCggJ0&sensor=false">
    </script>

    <script type="text/javascript">
      var map;
      var markersArray = [];
      
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(12.136389, -86.251389),
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

         map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);

       var marker = new google.maps.Marker({
            position:map.getCenter()
        });

        google.maps.event.addListener(map,'click',function(event){
            placeMarker(event.latLng);
        });

      }

      // Removes the overlays from the map, but keeps them in the array
    function clearOverlays() {
      if (markersArray) {
        for (i in markersArray) {
          markersArray[i].setMap(null);
        }
        markersArray.length = 0;
      }
    }
      function placeMarker(location) {
        clearOverlays();
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
          document.getElementById('latitude').value=location.lat();
          document.getElementById('longitude').value=location.lng();
          map.setCenter(location);
          markersArray.push(marker);
      }


        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
     

    <div><a href="{{ logout_url }}">Logout</a></div>


    <div>
    <div id="data" style="float:left;display: inline;width: 500px; height: 500px">
    <form action="/traders/add" enctype="multipart/form-data" method="post">
      <div>Name: <input type='text' name="name"  /></div>
      <div>Website: <input type='text' name="website"  /></div>
      <div>Address: <textarea type='text' name="address" rows="3" cols="60" ></textarea></div>
      <div><input type="file" name="logo"/></div>
      <input type='hidden' name="latitude" id="latitude"  />
      <input type='hidden' name="longitude"  id="longitude"  />

      <div><input type="submit" value="Add Trader"></div>

        
    </form>


    </div>

    <div id="map_canvas" style="float:left;display: inline;width: 500px; height: 300px;float:left"></div>
    </div>

  
</html>